/**
 * Type: Atom.
 * Button.
 */

/* stylelint-disable selector-class-pattern */
.styles--preview--button,
.button,
a.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  padding: 0 60px;
  overflow: hidden;
  color: var(--theme-button-color);
  font-weight: 500;
  font-size: var(--base-font-size);
  font-family: var(--heading-font-family);
  text-decoration: none;
  background-color: var(--theme-button-background-color);
  border: 1px solid transparent;
  border-radius: 50px;
  cursor: pointer;

  &[disabled],
  [disabled] & {
    opacity: .6;
    pointer-events: none;
  }

  &--ghost {
    color: currentcolor;
    background-color: transparent;
    border: 1px solid var(--theme-button-background-color);
  }

  &--center {
    left: 50%;
    transform: translateX(-50%);
  }

  &--right {
    left: 100%;
    transform: translateX(-100%);
  }
}
/* stylelint-enable selector-class-pattern */
